.header {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $sans-condensed;
}

.logo {
  @include textGlitch("HIGHLABS", 17, white, #141414, red, blue, 450, 115);
  font-size: 5rem;
  display: block;
}

.quotes {
  display: block;
  margin:0 30px;
  font-size: 1rem;
}
