$base : #FFF;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
$sans-condensed: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial;
