@import "../sass/bulma/utilities/_all";
@import "../sass/bulma/grid/_all";
@import "../sass/bulma/elements/button";
@import "../sass/bulma/base/helpers";

body {
  border: 10px solid rgb(0,56,101);
  min-height: 100vh;
  padding: 0.8rem;
  a {
    text-decoration: none;
  }
}